/* SVG Background Pattern Generator Library */

.svg-pattern-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.svg-pattern-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.svg-pattern-item {
  position: absolute;
  background-image: var(--svg-pattern-url);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.8;
}
