@import "mixins.scss";
@import "variables.scss";

.childlab-footer {
  background-color: #fff;
  color: $textSubtitleColor;
  text-align: center;
  margin-top: auto;
  padding: 20px;
}

.childlab-footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
