// _grid-system.scss - 12-колоночная сетка на SCSS

// ============================================
// Настройки сетки
// ============================================
$grid-columns: 12 !default;
$grid-gutter: 20px !default;
$container-max-width: 1200px !default;

// Брейкпоинты
$breakpoints: (
  'xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px
) !default;

// ============================================
// Миксины
// ============================================

// Миксин для медиа-запросов
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: map-get($breakpoints, $breakpoint);
    
    @if $value == 0 {
      @content;
    } @else {
      @media (min-width: $value) {
        @content;
      }
    }
  } @else {
    @warn "Неизвестный брейкпоинт `#{$breakpoint}`.";
  }
}

// Clearfix миксин
@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

// ============================================
// Базовые стили контейнера и строк
// ============================================
.container {
  width: 100%;
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $grid-gutter / 2;
  
  @include clearfix;
  
  // Контейнеры для брейкпоинтов
  &-fluid {
    width: 100%;
    padding: 0 $grid-gutter / 2;
    
    @include clearfix;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-gutter / 2;
  margin-right: -$grid-gutter / 2;
  
  @include clearfix;
}

// ============================================
// Генерация колонок
// ============================================

// Базовые классы колонок
@for $i from 1 through $grid-columns {
  .col-#{$i} {
    position: relative;
    width: 100%;
    padding-left: $grid-gutter / 2;
    padding-right: $grid-gutter / 2;
    flex: 0 0 percentage($i / $grid-columns);
    max-width: percentage($i / $grid-columns);
  }
  
  // Классы для смещения
  .offset-#{$i} {
    margin-left: percentage($i / $grid-columns);
  }
}

// Генерация колонок для каждого брейкпоинта
@each $breakpoint, $value in $breakpoints {
  @if $value == 0 {
    // Для xs (мобильных) - всегда показываем
    @for $i from 1 through $grid-columns {
      .col-#{$breakpoint}-#{$i} {
        position: relative;
        width: 100%;
        padding-left: $grid-gutter / 2;
        padding-right: $grid-gutter / 2;
        flex: 0 0 percentage($i / $grid-columns);
        max-width: percentage($i / $grid-columns);
      }
      
      .offset-#{$breakpoint}-#{$i} {
        margin-left: percentage($i / $grid-columns);
      }
      
      .order-#{$breakpoint}-#{$i} {
        order: $i;
      }
    }
    
    // Утилитарные классы для xs
    .d-#{$breakpoint}-none {
      display: none !important;
    }
    
    .d-#{$breakpoint}-block {
      display: block !important;
    }
    
    .d-#{$breakpoint}-flex {
      display: flex !important;
    }
    
    .justify-#{$breakpoint}-start {
      justify-content: flex-start !important;
    }
    
    .justify-#{$breakpoint}-center {
      justify-content: center !important;
    }
    
    .justify-#{$breakpoint}-end {
      justify-content: flex-end !important;
    }
    
    .justify-#{$breakpoint}-between {
      justify-content: space-between !important;
    }
    
    .align-#{$breakpoint}-start {
      align-items: flex-start !important;
    }
    
    .align-#{$breakpoint}-center {
      align-items: center !important;
    }
    
    .align-#{$breakpoint}-end {
      align-items: flex-end !important;
    }
  } @else {
    @include respond-to($breakpoint) {
      @for $i from 1 through $grid-columns {
        .col-#{$breakpoint}-#{$i} {
          position: relative;
          width: 100%;
          padding-left: $grid-gutter / 2;
          padding-right: $grid-gutter / 2;
          flex: 0 0 percentage($i / $grid-columns);
          max-width: percentage($i / $grid-columns);
        }
        
        .offset-#{$breakpoint}-#{$i} {
          margin-left: percentage($i / $grid-columns);
        }
        
        .order-#{$breakpoint}-#{$i} {
          order: $i;
        }
      }
      
      // Утилитарные классы для каждого брейкпоинта
      .d-#{$breakpoint}-none {
        display: none !important;
      }
      
      .d-#{$breakpoint}-block {
        display: block !important;
      }
      
      .d-#{$breakpoint}-flex {
        display: flex !important;
      }
      
      .justify-#{$breakpoint}-start {
        justify-content: flex-start !important;
      }
      
      .justify-#{$breakpoint}-center {
        justify-content: center !important;
      }
      
      .justify-#{$breakpoint}-end {
        justify-content: flex-end !important;
      }
      
      .justify-#{$breakpoint}-between {
        justify-content: space-between !important;
      }
      
      .align-#{$breakpoint}-start {
        align-items: flex-start !important;
      }
      
      .align-#{$breakpoint}-center {
        align-items: center !important;
      }
      
      .align-#{$breakpoint}-end {
        align-items: flex-end !important;
      }
    }
  }
}

// ============================================
// Утилитарные классы
// ============================================

// Классы для выравнивания
.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

// Классы для отступов
@for $i from 0 through 5 {
  .m-#{$i} {
    margin: #{$i * 0.5}rem !important;
  }
  
  .mt-#{$i} {
    margin-top: #{$i * 0.5}rem !important;
  }
  
  .mb-#{$i} {
    margin-bottom: #{$i * 0.5}rem !important;
  }
  
  .ml-#{$i} {
    margin-left: #{$i * 0.5}rem !important;
  }
  
  .mr-#{$i} {
    margin-right: #{$i * 0.5}rem !important;
  }
  
  .mx-#{$i} {
    margin-left: #{$i * 0.5}rem !important;
    margin-right: #{$i * 0.5}rem !important;
  }
  
  .my-#{$i} {
    margin-top: #{$i * 0.5}rem !important;
    margin-bottom: #{$i * 0.5}rem !important;
  }
  
  .p-#{$i} {
    padding: #{$i * 0.5}rem !important;
  }
  
  .pt-#{$i} {
    padding-top: #{$i * 0.5}rem !important;
  }
  
  .pb-#{$i} {
    padding-bottom: #{$i * 0.5}rem !important;
  }
  
  .pl-#{$i} {
    padding-left: #{$i * 0.5}rem !important;
  }
  
  .pr-#{$i} {
    padding-right: #{$i * 0.5}rem !important;
  }
  
  .px-#{$i} {
    padding-left: #{$i * 0.5}rem !important;
    padding-right: #{$i * 0.5}rem !important;
  }
  
  .py-#{$i} {
    padding-top: #{$i * 0.5}rem !important;
    padding-bottom: #{$i * 0.5}rem !important;
  }
}

// ============================================
// Пример использования (не компилируется в CSS)
// ============================================
/*
  // Подключение в основном файле SCSS:
  @import 'grid-system';
  
  // HTML структура:
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-4">
        Колонка 1
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4">
        Колонка 2
      </div>
      <div class="col-xs-12 col-md-12 col-lg-4">
        Колонка 3
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        Колонка со смещением
      </div>
    </div>
    
    <div class="row justify-md-center align-md-center">
      <div class="col-sm-6 col-md-4">
        Выровненная колонка
      </div>
    </div>
  </div>
*/