@import "variables.scss";
@import "grid-system.scss";

#wpadminbar {
  position: fixed;
}

.childlab-header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  gap: 36px;
  z-index: 1000;
  margin-top: calc(0px - var(--header-height));
}

.childlab-site-branding {
  display: flex;
  align-items: center;
  height: 36px;
  width: 106px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.childlab-primary-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  transition: opacity 0.3s ease;

  .menu-item a {
    padding: var(--size-xs) var(--size-md);
    border-radius: 8px;

    text-decoration: none;
    color: var(--purple);
    font-weight: var(--font-wight-500);
    font-size: var(--font-size-16);
    transition: all 0.3s ease;
    &:hover {
      background-color: $menuHoverBgColor;
      opacity: 0.7;

      color: var(--purple);
    }
  }

  .current-menu-item a {
    background-color: $menuActiveBgColor;
  }
}
