@import "variables.scss";

.childlab-header {
  position: fixed;
  width: calc(100% - 80px);
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  gap: 36px;
  z-index: 1000;
  margin-top: -80px;
}

.childlab-site-branding {
  display: flex;
  align-items: center;
  height: 32px;
  width: 106px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.childlab-primary-menu {
  display: flex;
  list-style: none;
  gap: 20px;

  .menu-item a {
    padding: 8px 16px;
    border-radius: 8px;

    text-decoration: none;

    &:hover {
      background-color: $menuHoverBgColor;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

      color: $primaryColor;
    }
  }

  .current-menu-item a {
    background-color: $menuActiveBgColor;
  }
}
