@import "variables.scss";
@import "mixins.scss";
@import "example-react-component.scss";

html,
body {
  background-color: $bodyBgColor;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $bodyBgColor;
  color: $textMainColor;
  font-family: Lora;
  font-size: var(--font-size-default);
  min-height: calc(100vh - 112px);
  margin: 0;
  margin-top: 80px;
}

a:link,
a:visited {
  color: $primaryColor;
}

a:hover {
  color: $secondaryColor;
}
