@import "variables.scss";
@import "mixins.scss";
@import "example-react-component.scss";

html,
body {
  background-color: $bodyBgColor;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bodyBgColor;
  color: $textMainColor;
  font-family: Lora;
  font-size: 1.9rem;
  @include atSmall {
    padding: 20px;
    font-size: 1.1rem;
  }
  @include atMedium {
    padding: 60px;
    font-size: 1.2rem;
  }
  margin: 0;
  margin-top: 80px;
}

a:link,
a:visited {
  color: $primaryColor;
}

a:hover {
  color: $secondaryColor;
}
