$bodyBgColor: #F8F8F8;
$textMainColor: #111111;
$textSubtitleColor: #999999;
$primaryColor: #5230D0;
$secondaryColor: #ff0077;

$menuActiveBgColor: rgba(238, 234, 250, 1);
$menuHoverBgColor: rgba(238, 234, 250, 0.8);