:root {
  --text-color__subtitle: #999999;
  --text-color__title: #111111;
  --text-color__excerpt: #555555;
}

a.article-card {
  border-radius: var(--border-radius-img);
  box-shadow: var(--box-shadow-default);
  height: 38vh;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: var(--size-sm) 0;
  transition: opacity 0.3s ease; /* Плавный переход за 0.3 секунды */
}

.article-card:hover {
  opacity: 0.6;
}

.article-img {
  background: linear-gradient(var(--bg-color-primary), var(--bg-color-default));
  background-size: cover;
  background-position: 50%;
  height: 50%;
  width: 100%;
  border-radius: var(--border-radius-img);
}

.article-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--size-xs);
  padding: var(--size-xs);
  height: 50%;
  box-sizing: border-box;
}

.article-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-xs);
}

.article-meta__authors {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.article-card .article-meta__authors-names {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Adds the ellipsis (...) */
}

.childlab-avatars {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.childlab-avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--white);
  margin-right: -16px;
}

.childlab-text {
  font-weight: 500;
  color: var(--color-subtitle-2);
}

.article-details__title {
  color: var(--color-title);
  font-size: larger;
}

.article-details__subtitle {
  color: var(--color-subtitle-1);
  font-size: large;
}

.article-details__excerpt {
  color: var(--color-default);
  font-size: medium;
}

.article-details__excerpt p {
  margin: 0;
}


.articles-list__header {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-500);
  color: var(--color-subtitle-1);
}