h1 {
  font-size: var(--font-size-48);
  font-weight: var(--font-weight-500);
  color: var(--color-title);
  margin: var(--size-md) 0;
}

h2 {
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-500);
  color: var(--color-title);
  margin: var(--size-sm) 0;
}

p {
}

.text-block {
  overflow-wrap: break-word;
}
.plain-text {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-400);
  color: var(--black);
  line-height: 175%;
}

/* применяется к блокам с виджетами для скругления углов, цвета фона и теней */
.childlab-widget {
  padding: var(--padding-md);
  border-radius: var(--border-radius-widget);
  background-color: var(--bg-color-default);
  box-shadow: var(--box-shadow-default);
  margin-bottom: var(--size-xlg);
}

a.childlab-card-link,
a.childlab-card-link:link {
  height: 100%;
  width: 100%;
  color: initial;
  text-decoration: none;
  transition: opacity 0.3s ease; /* Плавный переход за 0.3 секунды */
}

a.childlab-card-link:hover {
  opacity: 0.6; /* Становится на 60% непрозрачным */
}

a.childlab-card-link:hover .childlab-image {
  transform: scale(1.05);
}

.square-container {
  width: 100%; /* Или 50%, или любая другая ширина */
  position: relative;
  height: 0;
  padding-bottom: 100%; /* Высота = Ширине */
  overflow: hidden;
  border-radius: 16px;
}

.square-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.childlab-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

/* обрезает текст по ширине родительского контейнера */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Adds the ellipsis (...) */
}

/* Стили для текстов */
.childlab-text__meta {
  color: var(--color-meta);
  font-size: smaller;
}

.not-found-page {
  display: flex;
  flex-direction: column;
  gap: var(--size-xlg);
  margin: var(--size-xlg) auto;
  align-items: center;
}

.article-wrapper {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5) 0,
      rgba(255, 255, 255, 1) 30%,
      var(--light-grey-1)
    ),
    url("../images/article-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain, 100%;
  background-position:
    0 0,
    0 -20%;
}

.post-wrapper {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5) 0,
      rgba(255, 255, 255, 1) 30%,
      var(--light-grey-1)
    ),
    url("../images/post-bg.png");
  background-repeat: no-repeat;
  background-size: contain, 100%;
}
