/* применяется к блокам с виджетами для скругления углов, цвета фона и теней */
.childlab-widget {
  padding: 32px;
  border-radius: 32px;
  background-color: #fff;
  box-shadow: var(--box-shadow-default);
}

a.childlab-card-link, a.childlab-card-link:link {
  height: 100%;
  width: 100%;
  color: initial;
  text-decoration: none;
  transition: opacity 0.3s ease; /* Плавный переход за 0.3 секунды */
}

a.childlab-card-link:hover {
  opacity: 0.6; /* Становится на 60% непрозрачным */
}

a.childlab-card-link:hover .childlab-image {
  transform: scale(1.1);
}

.square-container {
  width: 100%; /* Или 50%, или любая другая ширина */
  position: relative;
  height: 0;
  padding-bottom: 100%; /* Высота = Ширине */
  overflow: hidden;
  border-radius: 16px;
}

.square-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.childlab-image {
  object-fit: cover;
  transition: transform 0.6s ease;
}
