/* Список тегов на карточке и в теле статьи */
.article-tags {
  display: flex;
  flex-direction: row;
  gap: var(--size-xs);
  margin: var(--size-xs);
  flex-flow: wrap;
}

.article-tags__tag {
  display: block;
  padding: var(--size-xs) var(--size-sm);
  border-radius: var(--border-radius-img);
  color: var(--white);
  font-size: smaller;
  max-width: 100%;
}

.article-card .article-tags {
  gap: var(--size-xxs);
}

.article-card .article-tags__tag {
  font-size: small;
  padding: var(--size-xxs) var(--size-xs);
}

/* Основное мею с тегами на главной странице */
.methodology-tags-menu {
  display: flex;
  margin: var(--size-sm) 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.methodology-tags-menu a.methodology-tags-menu__tag {
  color: var(--white);
  display: flex;
  height: 16vh;
  align-items: end;
  justify-content: center;
  position: relative;
  margin: var(--size-xs) 0;
  box-sizing: border-box;
}

.methodology-tags-menu .methodology-tag-width-4 {
  width: calc(100% / 4 - 8px) !important;
}

.methodology-tags-menu .methodology-tag-width-5 {
  width: calc(100% / 5 - 8px) !important;
}

.methodology-tags-menu .methodology-tag-width-6 {
  width: calc(100% / 6 - 8px) !important;
}

.methodology-tag__active {
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 0px 4px white;
}

/* При наведении */
.methodology-tags-menu a.methodology-tags-menu__tag:hover {
  opacity: 0.6; /* Становится на 60% непрозрачным */
}

.methodology-tags-menu__svg-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40%;
}

.methodology {
  margin-top: var(--size-xlg);
}

.methodology__header {
}

.methodology__tree-wrapper {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.9)
    ),
    url(../images/tree.png);
  background-size: 100%;
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
}
