/* Список тегов на карточке и в теле статьи */
.article-tags {
  display: flex;
  flex-direction: row;
  gap: var(--size-xs);
  margin: var(--size-xs);
  flex-flow: wrap;
}

.article-tags__tag {
  display: block;
  padding: var(--size-xs) var(--size-sm);
  border-radius: var(--border-radius-img);
  color: var(--white);
  font-size: smaller;
  max-width: 100%;
}

.article-card .article-tags {
  gap: var(--size-xxs);
}

.article-card .article-tags__tag {
  font-size: small;
  padding: var(--size-xxs) var(--size-xs);
}

/* Основное мею с тегами на главной странице */
.methodology-tags-menu {
  display: flex;
  margin: var(--size-sm) 0;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--size-xs);
}

.methodology-tags-menu a.methodology-tags-menu__tag {
  color: var(--white);
  display: flex;
  height: 112px;
  padding: var(--size-md);
  border-radius: var(--size-sm);
  align-items: end;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-500);
}

.methodology-tags-menu .methodology-tag-width-2 {
  width: calc(100% / 2 - 8px) !important;
}

.methodology-tags-menu .methodology-tag-width-3 {
  width: calc(100% / 3 - 8px) !important;
}

.methodology-tags-menu .methodology-tag-width-4 {
  width: calc(100% / 4 - 8px) !important;
}

.methodology-tags-menu .methodology-tag-width-5 {
  width: calc(100% / 5 - 8px) !important;
}

.methodology-tags-menu .methodology-tag-width-6 {
  width: calc(100% / 6 - 8px) !important;
}

.methodology-tag__active {
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 0px 4px white;
}

/* При наведении */
.methodology-tags-menu a.methodology-tags-menu__tag:hover {
  opacity: 0.6; /* Становится на 60% непрозрачным */
}

.methodology-tags-menu__svg-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
}

@media (max-width: 768px) {
  .methodology-tags-menu {
    gap: var(--size-xs);
  }
  .methodology-tags-menu a.methodology-tags-menu__tag {
    height: 85px;
    padding: var(--size-sm);
    border-radius: 6px;
    font-size: 11px;
  }

  .methodology-tags-menu .methodology-tag-width-2 {
    width: calc(100% / 2 - 6px) !important;
  }

  .methodology-tags-menu .methodology-tag-width-3 {
    width: calc(100% / 3 - 6px) !important;
  }

  .methodology-tags-menu .methodology-tag-width-4 {
    width: calc(100% / 4 - 6px) !important;
  }

  .methodology-tags-menu .methodology-tag-width-5 {
    width: calc(100% / 5 - 6px) !important;
  }

  .methodology-tags-menu .methodology-tag-width-6 {
    width: calc(100% / 6 - 6px) !important;
  }
}

.methodology {
}

.methodology__header {
  color: var(--black);
}
.methodology__header h1 {
  font-size: 32px;
  line-height: 1;
}
.methodology__header p {
  font-size: 20px;
  line-height: 1.2;
}

.methodology__tree-wrapper {
  display: flex;
  justify-content: center;
}
.methodology__tree {
  display: inline-block;
  position: relative;
}

.methodology__tree-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.methodology__graph-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.8);
}

.methodology__description {
  height: 100%;
  max-height: 800px;
  overflow: auto;
}

.methodology__description h2 {
  font-weight: var(--font-weight-500);
}

.methodology__description:has(.empty-placeholder) {
  align-content: center;
}

@media (max-width: 992px) {
  .methodology__graph-container {
    background: rgba(248, 248, 248, 0.8);
  }
  .methodology.childlab-widget {
    background: none;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
  }
  .methodology__description {
    max-height: fit-content;
  }
  .methodology__header {
    padding: var(--size-xxlg);
    border-radius: var(--border-radius-widget);
    background-color: var(--bg-color-default);
    box-shadow: var(--box-shadow-default);
    margin-top: var(--size-lg);
  }
  .methodology__header h1 {
    font-size: 20px;
  }
  .methodology__header p {
    font-size: 14px;
  }
}
