.projects-list {
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);
}

.projects-card {
  width: 25%;

}

.projects-card__info {
  text-align: center;
  margin-top: 1rem;
  height: 8rem;
}

.projects {

  height: 25vh;
  padding: 48px;
  border-radius:var(--border-radius-widget);
  background-color: var(--purple);
  background-size: cover;
  display: flex;
  flex-direction: column;
 

}

.project-title {
  color: #ffffff;
  font-size: var( --font-size-title-1);
  padding-top: 0px;
}

.project-description {
  color: var(--white);
  font-size: var(--font-size-24);

}

.project-link {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  background-color: var(--white);
  color: var(--purple);
  border-radius: var(--border-radius-img);
  width: fit-content;

}