.projects-list {
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);
}

.projects-card {
  width: 25%;
}

.projects-card__info {
  text-align: center;
  margin-top: 1rem;
  height: 8rem;
}

.projects {
  min-height: 360px;
  padding: 48px;
  border-radius: 32px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.project-title {
  color: var(--white);
  font-size: var(--font-size-48);
  font-weight: var(--font-weight-500);
  padding-top: 0px;
  margin: 4px 0;
}

.project-description,
.project-description * {
  color: var(--white);
  font-size: var(--font-size-24);
  font-weight: var(--font-weight-400);
  margin: 0;
  padding: 0;
  line-height: 1.25;
}

.project-link {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 8px 24px;
  text-decoration: none;
  background-color: var(--white);
  color: var(--purple);
  border-radius: 8px;
  width: fit-content;
  font-size: 24px;
  font-weight: 400;
}
.project-link div {
  line-height: 1.2;
}
.project-link .svg-icon {
  width: 24px;
}

@media (max-width: 768px) {
  .projects {
    min-height: 180px;
    border-radius: 12px;
    padding: 20px;
    gap: 12px;
  }

  .project-title {
    font-size: 20px;
  }
  .project-description,
  .project-description * {
    font-size: 14px;
    line-height: 1.25;
  }
  .project-link div {
    font-size: 12px;
    line-height: 12px;
  }

  .project-link .svg-icon {
    width: 12px;
  }
}
