.article-main {
  margin: var(--size-xxlg) 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 768px) {
  .article-main {
    margin: 0;
    background: var(--light-grey-1);
    box-shadow: none;
  }
}

/* Боковая панель с оглавлением */
.article-main .article-sidebar {
  flex-shrink: 0;
  position: sticky;
  top: 100px;
  max-height: calc(100vh - 120px);
}

@media (max-width: 992px) {
  .article-main .article-sidebar {
    flex-shrink: 0;
    position: static;
    max-height: 100%;
  }
}

/* Основной контент */
.article-content-wrapper {
  flex: 1;
  min-width: 0; /* Для правильной работы flex */
}

.nav-link-prev,
.nav-link-next {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 20px;
  font-weight: var(--font-wight-500);
  font-size: var(--font-size-16);
}

.nav-link-prev {
  justify-content: start;
}

.nav-link-next {
  justify-content: end;
}
.nav-link-prev::before {
  display: flex;
  content: "←";
}
.nav-link-next::after {
  display: flex;
  content: "→";
}

/* Заголовок статьи */
h1.article-title {
  text-align: center;
}

/* Заголовок статьи */
h2.article-subtitle {
  text-align: center;
}

/* Контейнер для метаинформации статьи */
.article-main .article-meta-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  justify-content: center;
  margin-top: 1rem;
}

.article-main .article-meta {
  font-size: var(--font-size-16);
}
