.swichers {
  display: flex;
  flex-direction: column;
  gap: var(--size-lg);
  padding: var(--size-lg);
  border-radius: var(--border-radius-widget);
  background-color: var(--bg-color-default);
  box-shadow: var(--box-shadow-default);
  max-height: 38vh;
  overflow: hidden;
  margin: var(--size-xlg);
  margin-left: 0;
}

.swichers-title {
  font-weight: 500;
  color: var(--color-primary);
  line-height: 120%;
  margin: 0;
}

.swicher {
  width: inherit;
  height: 90px;
  gap: 12px;
  background-color: #ffffff;
}

.swicher__label {
  color: var(--color-label);
  font-size: medium;
  margin-bottom: var(--size-md);
}

.swicher_bar {
  width: 128px;
  border-radius: 20px;
  padding: 4px;
  gap: 8px;
  background-color: #eeeeee;
  display: flex;
  margin: 2px;
}

.swicher_button,
.swicher_button_selected {
  width: 56px;
  height: 24px;
  border-radius: 18px;
  font-size: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
  border-width: 0;
  background-color: #eeeeee;
}

.swicher_button_selected {
  background-color: #876bee;
}

.swicher_text {
  width: 64px;
  display: inline;
  align-self: center;
  padding: 4px;
  gap: 8px;
}

.swicher_text p {
  display: ruby;
  font-size: 10px;
  width: 56px;
  color: #5230d0;
}

.swicher_text_selected {
  width: 64px;
  display: inline;
  align-self: center;
  padding: 4px;
  gap: 8px;
  color: #5230d0;
  font-weight: bolder;
}

.swicher_text_selected p {
  display: ruby;
  font-size: 10px;
  width: 56px;
  color: #5230d0;
}

.swicher_dot {
  width: 6px;
  height: 6px;
  background-color: #bbbbbb;
  border-radius: 3px;
  display: flex;
  align-self: center;
  justify-content: center;
}
