.authors-list {
  margin: var(--size-lg) auto;
}

.authors-list .row {
  justify-content: center;
}

.authors-list .author-card {
  height: 40vh;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: var(--size-sm);
  box-sizing: border-box;
}

.author-card__info {
  text-align: center;
  margin-top: var(--size-md);
  display: flex;
  flex-direction: column;
  gap: var(--size-md);
}

.author-card__name {
  margin: 0;
  font-size: var(--font-size-32);
  font-weight: var(--font-weight-500);
  color: var(--color-title);
}

.author-card__bio {
  margin: 0;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
  color: var(--color-title);
}

.author-details {
  display: flex;
  flex-direction: row;
  gap: var(--size-xlg);
  margin: var(--size-xlg) 0;
}

.author-details__photo-container,
.author-details__photo {
  height: 100%;
  max-height: 40vh;
}

.author-details__photo .childlab-image {
  border-radius: var(--border-radius-img);
}

.author-details__name {
  margin: 0;
  font-size: var(--font-size-32);
  font-weight: var(--font-weight-500);
  color: var(--color-title);
}

.author-details__bio {
  margin: 0;
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-400);
  color: var(--color-title);
}

.author-details__description {
  margin: 0;
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-400);
  color: var(--color-default);
}

.authors-menu {
  margin: calc(2 * var(--size-xlg)) 0;
}

.authors-menu a.authors-menu__item {
  padding: var(--size-xs) var(--size-md);
  border-radius: var(--border-radius-8);
  background-color: var(--white);
  text-decoration: none;
}

.authors-menu a.authors-menu__item:hover {
  background-color: var(--light-purple-2);
  box-shadow: var(--box-shadow-default);
  color: var(--purple-2);
}

.authors-menu a.authors-menu__item.active {
  background-color: var(--light-purple-1);
}
