:root {
  --black: rgba(17, 17, 17, 1); /* #111111 */
  --white: rgba(255, 255, 255, 1);
  --purple: rgba(82, 48, 208, 1);
  --purple-2: rgba(82, 48, 208, 0.8);
  --light-purple-1: rgba(238, 234, 250, 1);
  --light-purple-2: rgba(238, 234, 250, 0.8);
  --dark-grey-1: rgba(153, 153, 153, 1); /* #999999 */
  --dark-grey-2: rgba(85, 85, 85, 1); /* #555555 */
  --light-grey-1: rgba(248, 248, 248, 1); /* #F8F8F8 */

  --size-xxs: 4px;
  --size-xs: 8px;
  --size-sm: 12px;
  --size-md: 16px;
  --size-lg: 20px;
  --size-xlg: 24px;

  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-48: 48px;

  --font-weight-400: 400;
  --font-weight-500: 500;

  /* Цвет текста */
  --color-default: var(--dark-grey-1);
  --color-title: var(--black);
  --color-subtitle-1: var(--black);
  --color-subtitle-2: var(--dark-grey-2);
  --color-meta: var(--dark-grey-2);
  --color-tag: var(--white);
  --color-label: var(--dark-grey-1);
  --color-primary: var(--purple);
  --color-secondary: rgba(121, 85, 249, 1);

  /* Размер текста */
  --font-size-default: 1.4rem; /* 16px */
  --font-size-subtitle-1: 1.3rem; /* 14px */
  --font-size-subtitle-2: 1.2rem; /* 12px */
  --font-size-title-1: 2.8rem; /* 48px */
  --font-size-title-2: var(--font-size-24);

  /* Цвет фона */
  --bg-color-default: var(--white);
  --bg-color-primary: var(--color-primary);

  /* Отступы */
  --padding-xs: 1rem;
  --padding-sm: 1.4rem;
  --padding-md: 2rem; /* 32px */
  --padding-lg: 2.4rem;
  --padding-xlg: 2.8rem;

  /* Границы */
  --border-radius-8: 8px;
  --border-radius-img: 1.4rem; /* 16px */
  --border-radius-widget: 2rem; /* 32px */
  --box-shadow-default: 0 0px 40px rgba(56, 87, 97, 0.1);
}
